
#entete{
    border: 3px solid rgb(44, 47, 17);
    width: 90%;
    height: 150px;
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;
    justify-content:space-around; 
    align-items: center;
    margin: auto;
}
.boite1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.titre{
    font-size: 70px;
    font-weight: 200;
    text-align: center;
}
.don{
    padding-top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383938;
    font-size: 20px;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
