
  #coordonnée{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0e3240;
    width: 100%;
    height: 150hv;
    font-size: 20px;
    text-align: justify;
    color: white;
    margin-top: 5%;
  }


  #barre1{
    background-color: #0e3240;
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 5px;
  }

