body {
    background-image: url(../image/2020-08-31-iss-today-missing-persons-banner.webp);
    background-color:white;
    background-repeat: no-repeat;
    background-size: contain;


}

p{
    color: white;
}




#entete {
    background-color: #2198cb;
    border: 3px solid #1e4656;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: white;
}

.titre {
    font-size: 70px;
    font-weight: 200;
    text-align: center;
}

.don {
    padding-top: 15px;
}


#barre {
    background-color: #052533;
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
}

.accueil,
.sommes,
.demarche,
.contact,
.connecter {
    margin-left: 70px;
    margin-top: 8px;
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

image {

    display: flex;
    justify-content: space-around
    
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}

p {
    color:white;
}    



a:link {
    color: rgb(254, 252, 252);
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(246, 79, 18);
    text-decoration: none;
}

/* FOOTER */

#coordonnée{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0e3240;
    width: 100%;
    height: 150hv;
    font-size: 20px;
    text-align: justify;
    color: white;
    margin-top: 5%;
  }


  #barre1{
    background-color: #0e3240;
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 5px;
  }

