
body{
    background-color: #F0F6F8;
    font-family: 'Times New Roman', Times, serif;
}

#entete{
    background-color: #2c738d;
    /* opacity: 70%; */
    border: 3px solid #1e4656;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;
    justify-content:space-around; 
    align-items: center;
    margin: auto;
    color: white;
}

.titre{
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.don{
    padding-top: 15px;
}

#barre{
    background-color: #0e3240;
    opacity: 60%;
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.accueil, .sommes, .demarche, .contact, .connecter{
    margin-left: 70px;
    margin-top: 8px;
    color: white;
}

a:link {
    color: #FFF7DF;
    text-decoration: none;
    }
a:visited {
    color: white;
    text-decoration: none;
    } 
a:hover {
    color: #f64f12;
    text-decoration: none;
    }


#quiSommesNousDiv {
    display: grid;
    grid-template-columns: auto auto;
}

#quiSommesNousImg {
    margin: 3em;
    width: 45vw;
    height: 58vw;
    padding: 1em;
}

#quiSommesNousAsi {
    width: 50vw;
    padding: 2em;
    text-align: justify;
    margin-top: 2%;
    margin-right: 8%;
}

.quiSommesNousAsiP {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 3%;
    margin-right: 25%;
    font-size: 1em;
    line-height: 2em;
}

h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 4%;
}

#votreDon {
    text-align: left;
}

.generalP {
    text-align: justify;
    padding: 2%;
    margin-right: 4%;
    margin-left: 2%;
    line-height: 1.5em;
}

.gridContainerVotreDon {
    display: grid;
    grid-template-columns: auto auto;
}

.gridImage {
    width: 93%;
    margin-left: 7%;
}

#gridParagraph {
    text-align: justify;
    padding-right: 9%;
    margin-top: 12%;
    padding-left: 8%;
    font-size: 1em;
    line-height: 1.5em;
}

#gridSecondParagraph {
    text-align: justify;
    justify-content: center;
    margin-top: 13%;
    margin-right: 10%;
    margin-left: 9%;
    line-height: 1.5em;
}


/* FOOTER */

#coordonnée{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0e3240;
    width: 100%;
    height: 150hv;
    font-size: 20px;
    text-align: justify;
    color: white;
    margin-top: 25%;
  }


  #barre1{
    background-color: #0e3240;
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 5px;
  }

