<<<<<<< HEAD
body{
    background-image: url(logo2.jpg);
    opacity: 0.3;
}
=======
#carte{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#titre1{
    background-color: grey;
    text-align: center;
    font-style: italic;
    color: rgb(37, 47, 20);
    border-style: solid;
    height: auto;
    width: 450px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    }



>>>>>>> 3e0fd2ae24856945c7f12a1cff69db62e2b83bf8
