#carte{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#titre1{
    background-color: grey;
    text-align: center;
    font-style: italic;
    color: rgb(37, 47, 20);
    border-style: solid;
    height: auto;
    width: 450px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    }
}


