body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f6f8;

}

#entete {
    background-color: #2c738d;
    border: 3px solid #1e4656;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: white;
}

.titre {
    font-size: 70px;
    font-weight: 200;
    text-align: center;
}

.don {
    padding-top: 15px;
}

#barre {
    background-color: #0e3240;
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
}

.accueil,
.sommes,
.demarche,
.contact,
.connecter {
    margin-left: 70px;
    margin-top: 8px;
    color: white;
}


a:link {
    color: rgb(254, 252, 252);
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(246, 79, 18);
    text-decoration: none;
}

#conteneur {
    width: 1500px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
    margin-top: 10px;
}

#tchat {
    border: 1px solid black;
    height: 650px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e4656;
    color: aliceblue;
    padding: 20px;
}

#tchat h3{
    text-align: center;
}

.tchat-text1{
    text-align: left;
    background: rgb(106, 210, 106);
    border-radius: 10px;
    margin-right : 30px;
    padding: 10px;
}
.tchat-text2{
    text-align: left;
    background: rgb(210, 106, 106);
    border-radius: 10px;
    margin-left : 30px;
    padding: 10px;
}



#texte {
    margin-block-end: 20px;
    height: 100px;
    width: 300px;
    margin: 50px;
    background-color: #5d899a;
}


#img {
    border: 4px solid #2c738d;
    height: 400px;
    width: 400px;

}

#photo {
    height: 400px;
    width: 400px;
}

.hauteur {
    margin: 15px;
}

#presentation {
    border: 1px solid black;
    height: 650px;
    width: 400px;
    background-color: #2c738d;
    padding: 20px;
    font-weight: bold;
}

#presentation-info-disparu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center
}



#coordonnée{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0e3240;
    width: 100%;
    height: 150hv;
    font-size: 20px;
    text-align: justify;
    color: white;
    margin-top: 5%;
  }

  #barre1{
    background-color: #0e3240;
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 5px;
  }